.chisiamoSection{
  padding-bottom: 0px;
  background: url(/bg_section_2.svg) no-repeat center top;;
  background-attachment: scroll;
  background-origin: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    width:100%;
    display:flex;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    justify-content: center;
    align-items: center;
    // background: #fbfbfb;
    flex-direction: column;
    padding-bottom: 0px;;
}

.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1366px;
    flex-direction: column;
    padding: 1rem 1rem;
    box-sizing: border-box;
 
}
.pageElements{
  display:flex;
  width: 100%;  
  max-width: 62rem;
  padding-right:0.8rem;
  justify-content: space-between; 
}
.chisiamoImage{
  display:flex;
  flex:1; 
  justify-content: flex-end;
  padding-right:0.8rem;
  box-sizing: border-box;
  max-width: 50%;
  overflow: hidden;   
}
.chisiamoImage img{
  max-width: 100%;
  align-self: flex-start;
  border-radius: 6px;
  border: 1px solid white;
}


.text{
  flex: 1 1;
  padding-left: 0.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-family: "Lato", sans-serif;
  line-height: calc(1.2vh + 1vw);
  font-size: calc(0.8vh + 0.8vw);
  font-weight: 300;
}

.bottomInfo{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  /*background: rgba(245,242,238,1);*/
  min-height: 11rem;
  margin-top: 3.5rem;
  padding-bottom: 0.5rem;
}

.bottomInfo .content{
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;

}

.gradient{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(245,242,238,1) 100%);
  height: 4rem;
  width: 100%;
}



