.chisiamoSection{
  padding-bottom: 0px;
 // background: url(/bg_section_4.svg) no-repeat center top;;
  background-attachment: scroll;
  background-origin: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    width:100%;
    display:flex;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    justify-content: center;
    align-items: center;
    // background: #fbfbfb;
    flex-direction: column;
    padding-bottom: 0px;;
}

.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90vw;
    flex-direction: column;
    padding: 0rem 1rem;
    box-sizing: border-box;
    padding: 0rem;
}
.pageElements{
  display:flex;
  width: 100%;  
  //max-width: 90vw;
  //padding-right:0.8rem;
  justify-content: space-between; 
  align-items: center;
}
.chisiamoImage{
  display:flex;
  flex:1; 
  justify-content: flex-end;
  padding-right:0.8rem;
  box-sizing: border-box;
  max-height: 100vh;
  max-width: 50vw;
  height: auto;
  overflow: hidden;   
}
.chisiamoImage img{
  height: 52vh;
  max-width: 100%;
  align-self: flex-start;
  border-radius: 6px;
  border: 1px solid white;
}


.text{
  flex: 1 1;
  padding-left: 0.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #696259;
  font-family: "Lato", sans-serif;
  line-height: 1.8rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.bottomInfo{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  background: rgba(245,242,238,1);
  min-height: 11rem;
  margin-top: 3.5rem;
  padding-bottom: 0.5rem;
}

.bottomInfo .content{
  flex-direction: row;
  justify-content: space-between;
  max-width: 1330px;

}

.gradient{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(245,242,238,1) 100%);
  height: 4rem;
  width: 100%;
}


.clist {
  display: flex;
  align-items: flex-start;
  list-style-image: url(/icone/right-arrow.png);
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
 
}
button.rec-arrow {
  display: none;
}

@media screen and (max-width: 1440px){
    .chisiamoImage img {
      height: 66vh;
      max-width: 100%;
      align-self: flex-start;
      border-radius: 6px;
      border: 1px solid white;
  }
}
 

@media screen and (max-width: 1370px) {
  .chisiamoImage img{
    height: 64vh;
    max-width: 100%;
    align-self: flex-start;
    border-radius: 6px;
    border: 1px solid white;
  }
  .text{
    flex: 1 1;
    padding-left: 0.8rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #696259;
    font-family: "Lato", sans-serif;
    line-height: 1.6rem;
    font-size: 1rem;
    font-weight: 300;
  }
}

 
@media screen and (max-width: 769px) and (orientation: portrait){

    .pageElements{
      display: flex;
      width: 100%;
      max-width: 90vw;
      padding-right: 0.8rem;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: space-around;
      padding: 0.6rem;
    }

    .content{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      max-width: 100vw;
      flex-direction: column;
      padding: 0rem 1rem;
      box-sizing: border-box;
   
  }
    .chisiamoImage{
      max-height: 100vh;
      max-width: 100vw;
    }
    
    .text{
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.30rem;
    }

    .bottomInfo .content{
      padding: 1rem;
      display: flex;
      flex-direction: row;
    }
 
    
    
    
 }

 @media screen and (max-width: 569px) {
 
  button.rec-arrow {
    display: block!important;
  }
  

}