.container {
    width:100%;
    height: auto;
    background: #ffffff;  
    display:flex;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    margin-top:90px;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1366px;
    flex-direction: column;
    padding: 0rem 1rem;
    box-sizing: border-box;
    margin-bottom: 5rem;
}
.logoGrid{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 2.9rem;
}
.logoContainer{
  display:flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.7rem;
  padding-bottom: 1.59rem;
  border-bottom: 1px solid #eee;
}
.logoContainer img{   max-width: 44%;
  // -webkit-filter: grayscale(100%);
  // -ms-filter: grayscale(1);
  // filter: grayscale(1);
  //  filter: gray; 
}

.logoContainer:hover img{
  transition: all 0.3s ease-in;
    -webkit-filter: none;
    -ms-filter: none;
    filter: none;
     filter: none; 
  }

  @media screen and (max-width: 630px){
  
  .logoContainer{
    display:flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.7rem;
    padding-bottom: 1.59rem;
    border-bottom: 1px solid #eee;
  }
  .logoContainer img{   max-width: 84%;
  }
}
