.sectionServizi {
  padding-bottom: 0px;
  background: url(/bg_section_1.svg) no-repeat center top;;
  background-attachment: scroll;
  background-origin: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
    width:100%;
    height: auto;
    background: #ffffff;  
    display:flex;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    justify-content: center;
    align-items: center;
    
  }
  .content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1366px;
    flex-direction: column;
    padding: 0rem 1rem;
    box-sizing: border-box;

}
.cardGrid{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
}
.cardContainer{
  display:flex;
  width: 33.3%;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}


.titleSection {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #2296d4;
  font-size: 3.8rem;
  text-transform: uppercase;
  letter-spacing: -0.22rem;
}