
.titleSection{
    display:flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color:#2296d4;
    font-size: 3.2rem;
    letter-spacing: -0.22rem;
    text-align: center;
    mix-blend-mode: multiply;
    padding: 1rem;
    margin-block-end: 2vh;

  }