.popupContainer{
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
    display: flex;
    width: 100%;
    background: #f5f2ee;
    min-height: 11rem;
    padding-bottom: 0.5rem;
    z-index:9999;
  
}

.text{
    padding: 3rem;
}