.container{
    width:100%;
    background:#efebe6;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0rem;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-size:1.1rem;
    color:#696259;
    font-weight:700;
    margin: 1rem 0rem 0.4rem 0rem;
    text-transform: uppercase;
}
.content{
    display: flex;
    width:1310px;
    max-width:94%;
    padding-bottom: 1.3rem;
}
.content > div{
    display: flex;
    flex:1;
    flex-direction: column;
}
.content  a{
    color:#696259;
    text-decoration: none;


}
.content  a:hover{
    color:#2296d4;
}


.sitemap{
    display: flex;
    flex-direction: column;
}
.sitemap li {
    list-style-type: none;
    font-size: 0.92rem;
    font-weight: 600;
    cursor: pointer;
    line-height: 1.5rem;
}
.sitemap li:hover {
    color:#2296d4;
}

.info{
    font-size: 0.9rem;
    line-height: 1.34rem;
    margin-top: 0rem;
    font-weight: 400;
}

.infoRight{
    font-size: 0.9rem;
    line-height: 1.34rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;    
}

div.infoRight div:first-child{
    align-self: flex-start;
    margin-bottom: 0.3rem;
}
.infoRight button:first-of-type{
    margin-top: 1.3rem;
}

.contentBottom{
    display: flex;
    width:100%;
    padding: 1.2rem 0rem;
    border-top: 2px solid #fff;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 400;
}
.social{
    display: flex;
    margin: 0.2rem 0rem;
    padding: 0px;
}
.social li{
    list-style-type: none;
    padding-right: 1rem;
    cursor: pointer;
    opacity: 0.84; 
}
.social li:hover{    opacity: 1; }

