@import "normalize.css";

/* GENERAL STYLES */
html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  color:#696259;
}

.section{
  width: 100%;
  height: auto;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;
  flex-direction: column;
}


.titleSection{
  display:flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color:#2296d4;
  font-size: 3.8rem;
  letter-spacing: 0.22rem;
}
.subtitle {
  color: #56524c;
  font-weight: 600;
  text-align: center;
  line-height: 1.4rem;
  letter-spacing: 0.02rem;
}

.internaContainer{ 
  width:100%;
}


.internaContainer .section{
  margin-top: 75px;
  min-height: 65vh;
  padding-bottom: 4.5rem;
}



*::selection {
  background-color: #04bbce;
  color: white;
}
.button, .smallButton {
  background: #2296d4;
  color: #fff;
  border: 1px solid #2296d4;
  padding: 0.7rem 1rem;
  align-self: flex-start;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 0.92rem;
  letter-spacing: 0.14rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.button {
  padding: 1rem;

}

.button:hover, .smallButton:hover {
  background: #fff;
  color: #2296d4;
  transition: all 0.35s ease;
}

.footerButton svg { 
   margin-right: 0.4rem;
  opacity: 0.8;
}

.footerButton {
  border: 1px solid #969189;
  padding: 0.4rem 0.6rem;
  align-self: flex-start;
  align-items: center;
  display: flex;
  margin: 0.6rem 0rem 0rem;
  color: #696259;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 0.78rem; 
  letter-spacing: 0.14rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  opacity: 0.8;
  user-select: none;
}
.footerButton:hover {
  border: 1px solid #2296d4;
  color: #2296d4;
}

//TEXTIELD  STYLES
div.textField{
  margin-bottom: 0.6rem;
}
.textField .MuiOutlinedInput-notchedOutline{
  border: 1px solid #2296d4;
}

.textField .MuiOutlinedInput-root{
  color: #57514a; 
}
.textField .Mui-focused{
  border: 0px !important;
  outline:none !important;
}
.textField .MuiFormLabel-root.Mui-focused {
  color: #2296d4 !important;
}
.textField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #2296d4 !important;
}
.textField .MuiFormLabel-root.Mui-error{
  color: #999; 
}

.msgerror{
  padding: 1rem;
  color: #f44336;
  width: 100%;
  text-align: center;
}


.barGrey{
  display: flex;
  width: 100%;
  background: rgba(245,242,238,1);
  min-height: 11rem;
  padding-bottom: 0.5rem;
}
.bartrasparent{
  display: flex;
  width: 100%;
  min-height: 12vh;
 
}

//CAROUSEL

button.rec-arrow{ display:none; }

button.rec-dot, button.rec-dot:hover, button.rec-dot:focus{
  box-shadow: 0 0 1px 3px rgb(34 150 212);
  margin: 3rem 0.8rem;  
}
button.rec-dot:hover{  opacity:0.75; }


button.rec-dot_active{
  background-color: #2296d4;
  box-shadow: 0 0 1px 3px rgb(34 150 212);
}



//ALLIBO

.aw_jobSlider.cs .aw_intro /*Paragrafo di introduzione*/
    {
      position: relative;
      top: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: large;
      max-width: 90vw;
      letter-spacing: 0rem;
      color: #696259;
      margin: 1rem auto;
      
     }
     .aw_jobSlider.cs .aw_vieport /*Paragrafo di introduzione*/
    {
      height: 400px;
      text-align: center;
     
     }

     .aw_jobPosting{
       margin-left: 3rem;
       padding: 0rem;
     }
.aw_jobSlider.cs .aw_jobPosting /*Contenitore dell'Annuncio*/
    {
     background-color: rgba(255, 255, 255, 0.842);
      border-radius: 6px;
      max-width: 250px;
      height: 200px;
      border: 1px solid rgb(201, 201, 201);
      border-bottom: 1px solid grey;
      margin-left: 0.9rem;
      margin-right: 0.9rem;
      padding: 0rem;
     
     }
     .aw_jobSlider.cs .aw_jobPosting:hover /*Contenitore dell'Annuncio*/
     {
        background-color: #c0deee;
        color: white!important;
        font-weight: bold;
     }  
.aw_jobSlider.cs .aw_jobPosting .aw_title /*Titolo dell'Annuncio*/
    {
      color: #fff;
      height: 50px;
     
      border-bottom: 2px solid rgb(187, 187, 187);
      display: block;
      background-image: url(/icone/craon_icon_tsr.png), linear-gradient(90deg, rgb(6, 78, 119) 0%, rgb(34, 150, 212, 1) 82%, rgb(34, 150, 212, 1) 100%);
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-origin: border-box;
      background-size:calc(100% - 120px);
      text-decoration: grey;
      background-color:  rgb(34, 150, 212, 1);
      padding: 1rem;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      position: relative;
      top: 0px;
      transition: all ease 0.3s;
      mix-blend-mode: multiply;
     }
.aw_jobSlider.cs .aw_jobPosting .aw_location /*Sede di lavoro*/
    {
      display: flex;
      border-top: grey;
      color: #696259;
      flex-direction: column;
      align-content: space-between;
      justify-content: flex-end;
      align-items: center;
      transition: all 0.3s;
    
     }
     .aw_jobSlider.cs .aw_jobPosting .aw_location:hover /*Sede di lavoro*/
    {
   
      color: #fff;
    
     }
.aw_jobSlider.cs .aw_jobPosting .aw_pin /*Icona segnaposto Sede di lavoro*/
    { }
.aw_jobSlider.cs .aw_jobPosting:hover /*MouseOver effect Annuncio*/
    { }
.aw_jobSlider.cs .aw_dot /*Segnaposto delle Slide*/
    {
      color: #fff;
      height: 20px;
      width: 20px;
      margin-left: 1rem;
      border-radius: 20px;
      background: linear-gradient(180deg, rgb(20, 132, 197) 0%, rgb(99, 162, 196) 82%, rgb(113, 160, 224) 100%);
      border: 2px solid rgb(94, 134, 185);
     }
.aw_jobSlider.cs .aw_dot.is-selected /*Segnaposto Slide corrente*/
    { 
      background-color: #fff;
    }
.aw_rush{
  display: block!important;
}

    .tzs_show-page-dots{
      position: relative;
      bottom: -10vh;
      margin: 0 auto;
    }