.container {
    display: flex;
    flex-direction: column;

}

.infoNumber{
    display:flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#2296d4;
    font-size: 3.2rem;
    letter-spacing: 0.22rem;
    margin: 0rem 0rem 0.5rem 0rem;
         
    text-align: center;
    mix-blend-mode: darken;

}

.infoText{ 
    font-size: calc(0.7vh + 0.7vw);
    color: #696259;
    padding: 0.2rem 0.4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 500;
         
    text-align: center;
    mix-blend-mode: darken;
} 

@media (max-width: 969px) {



	.container .infoNumber {
		grid-template-columns: repeat(2, 1fr);
	}


    .container .infoNumber > div:nth-of-type(1),
    .container .infoNumber  > div:nth-of-type(2) {
		border-bottom: 1px lightskyblue solid;
		padding-bottom: 20px;
	}

    .infoNumber{
    
        font-size: 2.2rem;
    
    }

    .infoText{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .infoNumber{
        font-size: 1.8rem;
        letter-spacing: -0.11rem;
    
    }

    .infoText{
        font-size: 0.9rem;
    }
    
}